/*~~~~~~~~~~~~~~~~~~~~~~~~~ FONT FAMILY ~~~~~~~~~~~~~~~~~~~~~~~~~*/
@mixin font-face($font-family, $weight, $url, $file-name, $style: normal) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("#{$url}#{$file-name}.woff2") format("woff2"), url("#{$url}#{$file-name}.woff") format("woff");
		font-weight: #{$weight};
		font-display: swap;
		font-style: $style;
	}
}

@include font-face(Aria, 400, "./../../fonts/", Aria);
@include font-face(Aria, 700, "./../../fonts/", "Arial-Bold");
@include font-face(MuseoModerno, 500, "./../../fonts/", "MuseoModerno-Medium");
@include font-face(MuseoModerno, 600, "./../../fonts/", "MuseoModerno-Semibold");
@include font-face(MuseoModerno, 700, "./../../fonts/", "MuseoModerno-Bold");
